@import "_solarized";

$pageBG: $Base03;
$pageFG: $Base2;

$articleBG: $Base02;
$linkFG: $Blue;

$cardBG: $Base02;
$cardShadow: $Cyan;
$cardShadowHover: $Blue;
$dateAuthor: $Base00;

$headerBG: $Base03;
$headerBorder: $Violet;

$footerBG: darken($Base02, 2%);
$footerShadow: $Cyan;

$gitalkBG: $pageBG;
$gitalkFG: $pageFG;
$gitalkBorder: $Base00;

$preBG: $Base03;
$preShadow: mix($Blue, $Base03);
$preBorder: $Blue;
$preHeaderBG: mix($Blue, $Base03);
$preHeaderFG: $Base2;
$codeBG: mix($Cyan, $Base03);

$tableHL: mix($Blue, $Base03);
$tableLine: $Base00;

$quoteBG: $Base03;
$quoteBorder: $Violet;

$hr: $Base00;

$menuLink: $pageFG;
$menuHover: $Green;

$paginationBorder: $Cyan;

$scrollTrack: $Base00;
$scrollThumb: $Green;

$metaBG: mix($Cyan, $Base03);

$menuAnchorHoverFG: $Cyan;
$menuAnchorHoverBG: $Base03;
