@import "_solarized";

$pageBG: $Base03;
$pageFG: $Base2;

$articleBG: $Base02;
$linkFG: $Blue;

$cardBG: $Base02;
$cardShadow: $Cyan;
$cardShadowHover: $Blue;

$headerBG: $Base03;
$headerBorder: $Violet;

$footerBG: darken($Base02, 2%);
$footerShadow: $Cyan;

$gitalkBG: $pageBG;
$gitalkFG: $pageFG;
$gitalkBorder: $Base00;