@mixin transition($property...) {
  -webkit-transition: $property;
  -ms-transition: $property;
  transition: $property;
}
@mixin transform($property...) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@import 'fonts';

@import 'colorschemes/SolarizedDark.scss';
@import 'components/all.scss';
@import 'style';

html {
  font-size: 17px;
}
body {
  margin: 0;
  line-height: 1.5em;
  font-size: 1rem;
  background: $pageBG;
  color: $pageFG;
}
p {
  font-size: 17px;
}
article {
  position: relative;
  padding: 1em;
  background: $articleBG;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  main {
    margin-bottom: 15px;
    a {
      word-break: break-all;
    }
  }
}
a {
  text-decoration: none;
  color: $linkFG;
}
hr {
  border-style: dashed;
  color: $hr;
}
/* code */
pre {
  border: 1px solid $preBorder;
  box-shadow: 3px 3px 5px $preShadow;
  overflow-x: auto;
  code {
    padding: 0.5em;
    display: block;
    font-size: 0.9rem;
  }
}
p code {
  background-color: $codeBG;
  border-radius: 10px;
  padding: 1px 5px;
}

/* misc elements */
img,
iframe,
video {
  max-width: 100%;
}
blockquote {
  background: $quoteBG;
  border-left: 5px solid $quoteBorder;
  padding: 3px 1em 3px;
  margin-right: 0px;
  margin-left: 20px;
}
table {
  margin: 1em auto auto;
  border-top: 1px solid $tableLine;
  border-bottom: 1px solid $tableLine;
  thead th {
    border-bottom: 1px solid $tableHL;
  }
  th, td {
    padding: 5px;
  }
  tr:nth-child(even) {
    background: $tableHL;
  }
}

ol ol,
ul ol {
  list-style-type: lower-roman;
}
ol ol ol,
ol ul ol,
ul ol ol,
ul ul ol {
  list-style-type: lower-alpha;
}
