.header div,
.container,
.copyright,
.menu {
  max-width: 1100px;
  margin: auto;
  padding: 0 15px;
}
.page .header div,
.page .container,
.page .copyright,
.page .menu {
  max-width: 900px;
}
.container {
  hyphens: auto;
}
@media (max-width: 930px) {
  .page .container {
    padding: 0;
  }
}
/* header and footer areas */
.header {
  border-top: 5px solid $headerBorder;
  border-bottom: 4px double $headerBorder;
  text-align: center;
  padding: 15px 0 5px;
}
.head-meta,
.menu {
  display: flex;
  justify-content: space-between;
}
.head-meta span.date {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}
.header{
  background: $headerBG;
}
.banner {
  font-size: 4em;
}
.banner .text {
  display: block;
  line-height: 1em;
}
.banner a {
  color: $pageFG;
}
.categories a {
  font-size: 0.9em;
  font-weight: bolder;
  text-transform: uppercase;
}
.leading-h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 5px;
}
.article-meta {
  text-decoration: none;
  background: #135d61;
  padding: 5px;
  border-radius: 30px;
}
.article-meta {
  text-align: center;
}
.title {
  font-size: 1.2em;
}
.article-list h1,
.title {
  line-height: 1.2em;
}
#TableOfContents,
#TOC,
.comments {
  margin-top: 1rem;
  border: 1px dashed $pageFG;
  border-radius: 15px;
}
.comments a {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}