.article-footer {
  text-align: left;
}
.post-nav {
  text-align: center;
}
footer {
  background: $footerBG;
  box-shadow: 0 -3px 8px $footerShadow;
  padding: 1rem 0;
  text-align: center;
  .menu {
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
    margin: auto;
    padding: 0 15px;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
  }
  li {
    display: inline-block;
    font-weight: bolder;
  }
  a {
    color: $pageFG;
    padding: 0.5rem;
  }
  a:hover {
    color: $menuAnchorHoverFG;
    background: $menuAnchorHoverBG;
  }
}
.terms {
  font-size: 1.3rem;
}
.post-nav {
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}
.footnotes {
  font-size: 0.9rem;
}
.footnotes hr {
  width: 50%;
  margin-left: 0;
}
.to-top {
  font-size: 2rem;
  position: fixed;
  right: 5%;
  bottom: -3%;
  opacity: 0;
  cursor: default;
  @include transition(500ms ease-out);
  @include transform(rotate(-50deg));
}
.to-top.visible {
  bottom: 3%;
  opacity: 1;
}
.to-top:hover {
  bottom: 4%;
  right: 5%;
}
.to-top.active {
  bottom: 60%;
  right: 8%;
  opacity: 0;
  @include transition(500ms ease-in);
}
