.article-footer {
  text-align: left;
}
.menu,
footer,
.post-nav {
  text-align: center;
}
.footer {
  background: $footerBG;
  box-shadow: 0 -3px 8px $footerShadow;
  padding: 1em 0;
}
.menu {
  margin-bottom: 0.5em;
  flex-wrap: wrap;
}
.menu li {
  display: inline-block;
  font-weight: bolder;
}
.menu a {
  color: $pageFG;
  padding: 0.5em;
}
.menu a:hover {
  color: #2aa198;
  background: #002b36;
}
.terms {
  font-size: 1.3em;
}
.post-nav {
  margin: 0.5em 0;
  display: flex;
  justify-content: space-between;
}
.footnotes {
  font-size: 0.9em;
}
.footnotes hr {
  width: 50%;
  margin-left: 0;
}
.to-top {
  font-size: 2em;
  font-weight: 700;
  position: fixed;
  right: 5%;
  bottom: -3%;
  opacity: 0;
  color: $linkFG;
  cursor: default;
  @include transition(500ms ease);
  @include transform(rotate(-50deg));
}
.to-top:hover {
  margin-bottom: 10px;
  color: $Cyan;
  @include transition(500ms ease);
}
