// Use more selectors to gain more priority
#gitalk-container .gt-container {
  .gt-header-textarea,
  .gt-comment-content,
  .gt-comment-body,
  .gt-header-preview  {
    text-align: left;
    background-color: $gitalkBG;
    color: $gitalkFG;
  }
  .gt-btn-preview,
  .gt-popup,
  .gt-header-textarea:hover {
    background-color: $gitalkBG;
  }
  .gt-popup,
  .gt-copyright,
  .gt-meta {
    border-color: $gitalkBorder;
  }
  color: $gitalkFG;
}