.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  section {
    background: $cardBG;
    flex: 1 0 350px;
    box-sizing: border-box;
    margin: 1em 0 0 15px;
    padding: 1em;
    overflow-x: hidden;
  }
}
@media (max-width: 380px) {
  .list section {
    flex: auto;
  }
}
@media (min-width: 715px) {
  .list section {
    max-width: calc(50% - 15px);
  }
}
@media (min-width: 1080px) {
  .list section {
    max-width: calc(33.33333% - 15px);
  }
}
.link-list.thin{
  flex: 1 0 110px;
}
.article-list.link-list h1 {
  line-height: normal;
  color: $linkFG;
}
.article-list {
  box-shadow: 0 0 8px $cardShadow;
  @include transition(box-shadow 500ms linear);
  h1 {
    line-height: 1.2em;
    margin: 0.2em auto 0.2em 0;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.article-list:hover {
  box-shadow: 0 0 30px $cardShadowHover;
  @include transition(box-shadow 500ms linear);
  h1 {
    text-decoration: underline;
    white-space: inherit;
  }
}
.date-author {
  color: #657b83;
}
.summary {
  word-wrap: break-word;
}
.thumbnail {
  max-height: 5.1em;
  max-width: 6.8em;
  float: left;
  overflow: hidden;
  margin: 5px 8px 5px 0;
  text-align: center;
}
