.pagination {
  text-align: center;
}
.pagination li {
  display: inline;
}
.pagination a {
  padding: 0 0.2em;
  font-weight: 550;
}
.pagination {
  padding-left: 0px;
  line-height: 35px;
}
.page-ellipsis {
  color: $linkFG;
}
.page-item a {
  text-decoration: none;
}
.page-item {
  background-color: $pageBG;
  padding: 3px;
  margin: 2px;
  border-radius: 5px;
}
.page-item.disabled {
  opacity: 0.5;
}
.page-item.active {
  border: 1px dashed $paginationBorder;
}
