<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {{ $.Scratch.Set "Title" (default .Title (index .Site.Params.text (print "title_" (lower .Title)))) }}
    <title>{{ if eq ($.Scratch.Get "Title") .Site.Title }}{{ .Site.Title }}{{ else }}{{ ($.Scratch.Get "Title") }} | {{ .Site.Title }}{{ end }}</title>
    {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{ partial "resources.html" . }}
    {{ block "head" . }}{{ end }}
  </head>

  <body{{if .IsPage}} class="page"{{ end }}>
    <nav class="header">
      {{ partial "banner.html" . }}
      {{ partial "head_meta.html" . }}
    </nav>
    {{ block "main" . }}{{ end }}
    {{ template "_internal/google_analytics.html" . }}
    {{ block "footer" . }}
    <footer>
      {{ partial "foot_custom.html" . }}
    </footer>
    {{ end }}
  </body>
</html>
