{{ partial "header.html" . }}

<div class="container">
<main class="list">
{{ $pages := .Pages }}
{{ $paginator := .Paginate (where $pages "Section" "!=" "") }}
{{ range $paginator.Pages }}
<section class="article-list" onclick="window.location.href={{ .Permalink }}">
  <div class="categories">
  {{ with .Params.categories }}
  {{ range first 1 . }}
    {{ $.Scratch.Set "categoryName" . }}
    <a href="{{ relURL (print "/categories/" . | urlize) }}">{{ . }}</a>
  {{ end }}
  {{ else }}
  {{ default "Uncategorized" .Site.Params.text.uncategorized | $.Scratch.Set "categoryName" }}
    <a>{{ $.Scratch.Get "categoryName" }}</a>
  {{ end }}
  </div>
  <h1>{{ .Title }}</h1>
  <div class="date-author">
    {{ if .Params.author }}<span class="author">{{ partial "author_names.html" . }}</span> / {{ end }}
    <span class="date">{{ .Date.Format "2006-01-02" }}</span>
  </div>
  <div class="summary">
    {{ with .Params.thumbnail }}
    <img class="thumbnail" src="{{ relURL . }}" alt="Thumbnail" />
    {{ else }}
    {{ with $.Scratch.Get "categoryName" | .Site.Params.termThumbnails.Get }}
    <img class="thumbnail" src="{{ relURL . }}" alt="Thumbnail" />
    {{ else }}
    {{ $img := findRE "<img src=\"[^\"]+\"" .Content 1 }}
    {{ range $img }}
    {{ (print . "class=\"thumbnail\" alt=\"Thumbnail\" />") | safeHTML }}
    {{ end }}
    {{ end }}
    {{ end }}
    {{ with .Description }}
      {{ $.Scratch.Set "summary" (markdownify .) }}
    {{ else }}
      {{ $.Scratch.Set "summary" ((delimit (findRE "(<p.*?>(.|\n)*?</p>\\s*)+" .Content) "[&hellip;] ") | plainify | truncate (default 200 .Site.Params.summary_length) (default " &hellip;" .Site.Params.text.truncated ) | replaceRE "&amp;" "&" | safeHTML) }}
    {{ end }}
    {{ $.Scratch.Get "summary" }}
    </a>
  </div>
</section>
{{ end }}
</main>
<nav>{{ partial "pagination.html" . }}</nav>
</div>

{{ partial "footer.html" . }}
