{{ partial "header.html" . }}

<main>
  <div class="container">
    <article>
      <div class="article-meta">
        <h1><span class="title">{{ $.Scratch.Get "Title" }}</span></h1>
      </div>
      <main>
        <div class="list">
          {{ range .Data.Terms.ByCount }}
          <section
            class="article-list link-list thin"
            onclick="window.location.href='{{ .Name }}'"
            >
            <h1>{{ .Name }}</h1>
            <div class="summary">
              {{ .Count }} Article(s)

              {{ with $.Site.Params.termThumbnails.Get .Name }}
              <div class="img-container">
                <img src="{{ . }}" style="padding-top:0.5em" alt="thumbnail" />
              </div>
              {{ end }}
            </div>
          </section>
          {{ end }}
        </div>
      </main>
    </article>
  </div>
</main>
<style>
  .page-meta {
    display: none;
  }
</style>
{{ partial "footer.html" . }}
