{{ partial "header.html" . }}

<main>
  <div class="container">
    <article>
      <div class="article-meta">
        <h1><span class="title">{{ $.Scratch.Get "Title" }}</span></h1>
      </div>
      <main>
        <div class="list">
          {{ range $key, $value := .Data.Terms }}
          <section
            class="article-list link-list"
            onclick="window.location.href='{{ $key }}'"
            >
            <h1>{{ $key }}</h1>
            <div class="summary">
              {{ len $value }} Article(s)
            </div>
          </section>
          {{ end }}
        </div>
      </main>
    </article>
  </div>
  </div>

{{ partial "footer.html" . }}
