{{ partial "header.html" . }}
<div class="container">
  <article>
    <div class="article-meta">
      <h1><span class="title">{{ .Title }}</span></h1>
    </div>
    <main>
      {{ range .Params.indexSections }}
      <h1 class="leading-h1">
        {{ (replaceRE "(&[A-Z]) (fr;)" "$1$2" (replaceRE "([A-Z])" "&$1 fr;" (upper .name))) | safeHTML}}
      </h1>
      <div class="list">
      {{ range .links }}
        <section
          class="article-list link-list"
          onclick="window.location.href='{{ .url }}'"
        >
          <h1>{{ .text }}</h1>
          {{ if .summary }}
          <div class="summary">
            {{ if .thumbnail }}
              <img class="thumbnail" src="{{ .thumbnail }}" alt="thumbnail">
            {{ end }}
            {{ .summary }}
          </div>
          {{ end }}
        </section>
      {{ end }}
      </div>
      {{ end }}
      {{ .Content }}
    </main>
  </article>
</div>
{{ partial "footer.html" . }}
